# Rewriting URL
RewriteEngine on

# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/+$
RewriteRule ^ %1 [R=301,NE,L]

# Send front-end assets in the public directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} _front/(.*)$
RewriteRule _front/(.*)$ public/$1 [L,QSA]

# Not sure if better practice than l.9-12, keeping it in comments
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} \.(bmp|css|gif|ico|jpe?g|js|png|tiff)$
# RewriteRule ((css|js|img)\/.*\..*)$ public/$1 [L,QSA]

# Send routes to index.php
RewriteCond %{QUERY_STRING} ^$ [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php?/$1 [L,QSA]